/* Responsive adjustments for medium screens */
@media (max-width: 1200px) {

    .artist-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    .artist-hover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; /* Ensure hover image is hidden initially */
        transition: opacity 0.5s ease-in-out; /* Add transition if missing */
    }

    .left-text,
    .right-text {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: -50px 0;
        transform: none;
        font-size: 10px;
        animation-delay: 0s;
    }

    .right-text {
        font-size: 13px;
        order: 2;
        animation-delay: 2s;
    }

    .left-text {
        font-size: 13px;
        order: 1;
        animation-delay: 3s;
    }

    .logogif-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        margin-top: 0;
    }
}
