
/* make the site touch the edge of the window*/
*  {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*/////////////////////*/
/*    X scrollbar      */   
/*/////////////////////*/

::-webkit-scrollbar {
    
    display: none;
}
.container {
    
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.container::-webkit-scrollbar { 
   
    display: none;  
}
/*/////////////////////*/
/*       HEADER        */   
/*/////////////////////*/
    header {

    background-color: #000000;
    }
    .lockeddoor {
        color: rgb(255, 255, 255);
        padding-top: 25px;
        margin-left: -45px;
        font-size: 20px;
        background-color: #000000;
    }
   
    body {
        background-color: #000000;
    }
    .rootnav {

        background-color: none;
        display: flex;
        margin-left: 80px;
        color:rgb(53, 86, 101);
     
        
    }
    .othernav {

        display: flex;
        flex-direction: row;
        font-size: 14px;
        text-decoration: none; 
        font-family: monospace;
        margin-top: -90px;
        padding-left: 90px; 
        color:rgb(53, 86, 101);
           
    }
    .resumenav {

        background-color: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 200px;
        padding-right: 0px;
        margin-right: 0px;   
    }
    .cdanav {

        background-color: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 170px;
    }
    .reportsnav {

        background-color: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color:rgb(53, 86, 101);
        
    }
    .notepadsnav {

        background-color: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: -135px;
        margin-top: 400px;
    }
    .pilotnav {
        background-color: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
       
    }
    .root {
        
        padding-right: 120px;
        padding-left: 65px;
        color: rgb(143, 156, 159);
        text-decoration: none; 
        font-size: 14px;
        font-family: monospace;
        margin-top: -127px;
        position: static;
    }
    nav>:hover {

        color: rgb(181, 229, 248);
        border: 2px;
        border-radius: 10px;
        font-size: 14px;
        
        
    }
    
    .cda {
        
        color:rgb(53, 86, 101);
        flex-direction: column;
        text-decoration: none;
        margin-top: -150px;
        margin-left: -200px;
      
    }
    .reports {

        color:rgb(28, 44, 52);
        padding-top: 17px;
        padding-bottom: 0px;
        text-decoration: none;
        
    }
    .resume {

        color:rgb(28, 44, 52);
        padding-top: 17px;
        padding-bottom: 0px;
        text-decoration: none;
    }
    .pilot {

        color:rgb(28, 44, 52);
        padding-top: 17px;
        padding-bottom: 0px;
        text-decoration: none;
        flex-direction: column;
    }
    .notepad {

        color:rgb(28, 44, 52);
        padding-left: -180px;
        padding-top: 17px;
        padding-bottom: 0px; 
        text-decoration: none;  
    }
    .format {
        
        color:rgb(53, 86, 101);
        padding-left: 0px;
        padding-top: 17px;
        padding-bottom: 0px;
        text-decoration: none;
    }
    .otherproject {
        background-color: none;
        color:rgb(53, 86, 101);
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        padding-top: 17px;;
        text-decoration: none;
    }
    div>p {
        
        padding: 12px;
        color: rgb(0, 255, 26);
        text-align: center;
        text-decoration: none;
     }
    main {

        
        display: flex;
        flex-direction: column;
        font-family: monospace;
        background-color: rgb(0, 0, 0);
    } 
    .pdfinvert {

        
        border:none;
        align-self: flex-end;
        height: 90vh;
        width: 36vw;
        filter:contrast(300%);
        filter:invert(10);
        overflow: hidden;
        margin-top: -930px;
        margin-right: -30px;
        scale: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }
    .pdf {

        filter: contrast(1.0);
  
        border:none;
        align-self: flex-end;
        height: 100vh;
        width: 36vw;
        overflow: hidden;
        margin-top: -920px;
        margin-right: -30px;
        scale: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }
    .md {

        filter: contrast(200);
        border:none;
        align-self: flex-end;
        height: 100vh;
        width: 36vw;
        overflow: hidden;
        margin-top: -820px;
        margin-right: -30px;
        scale: 100vh;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
        
    }
    .doorgif {

        width:7%;
        height:100%;
        scale: 100%;
        overflow: hidden;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 10px;
        
    }

    .dllink {
        color: rgb(143, 156, 159);
        display: flex;
        flex: end;
        margin-top: -990px;
        margin-left: 1800px;
        text-decoration: none;
    }

    .dllink:hover {
        color: rgb(181, 229, 248);

    }
    iframe {
        overflow: hidden;
    }
    section {
        
        background-color: black;
        color: rgb(0, 76, 255);
        display: flex;
        font-family: monospace; 
    }
    footer {

        background-color: #000000;
        color: rgb(255, 255, 255);
        font-family: monospace;
        padding: 50px;
        text-decoration: none;
        height: 10px;
        
    }
    .activelink {
        color: rgb(181, 229, 248);
        
        
    }

    .tooltip:hover:after{ 
         content: attr(data-tooltip);
         color: rgb(181, 229, 248);

    }
    .hovertext:hover {
        color: rgb(181, 229, 248);

    }