
/* make the site touch the edge of the window*/
*  {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 1000px) {

/*/////////////////////*/
/*    X scrollbar      */   
/*/////////////////////*/

::-webkit-scrollbar {
    
    display: none;
}

.container {
    
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.container::-webkit-scrollbar { 
   
    display: none;  
}

/*/////////////////////*/
/*       HEADER        */   
/*/////////////////////*/

header {
   
    background-color: #000000;
}

    nav {

        background-color: black;
        height: 50px;
        font-family: monospace;
        display: flex;
        flex-direction: row;
        padding: 10px;
        font-size: 15px;
        
    }

    nav>a {
        
        padding: 20px;
        color: rgb(255, 255, 255);
        text-decoration: none 

    }

    nav>a:hover {

        color: rgb(13, 0, 169);
        border: 2px;
        border-radius: 10px;
    }

    div>p {
        
        padding: 12px;
        color: rgb(0, 255, 26);
        text-align: center;
        text-decoration: none;

     }

    main {

        min-height: calc(100vh - 30px);
        display: flex;
        flex-direction: column;
        font-family: monospace;
        background-color: black;
        padding-top: 35px;
        
    }

    /*/////////////////////*/
    /*     CONTENT DIV     */   
    /*/////////////////////*/

    

    /*/////////////////////*/
    /*      SECTION        */   
    /*/////////////////////*/

    section {
        
        background-color: black;
        color: rgb(0, 76, 255);
        display: flex;
        font-family: monospace;
          
    }

    footer {

        background-color: #000000;
        color: white;
        font-family: monospace;
        padding: 30px;
    }
}

