
/* make the site touch the edge of the window*/
*  {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



/*/////////////////////*/
/*    X scrollbar      */
/*/////////////////////*/

::-webkit-scrollbar {

    display: none;
}
.container {

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container::-webkit-scrollbar {

    display: none;
}
/*/////////////////////*/
/*       HEADER        */
/*/////////////////////*/

header {
    background-color: #000000;

    }

    a {
        text-decoration: none;
        color:rgb(101, 146, 150);
    }

    li button {
        text-decoration: none;
        color:rgb(101, 146, 150);
    }

.lockeddoor {

    display: flex;
    flex: shrink;
    color: rgb(255, 255, 255);
    margin-left: -25px;
    font-size: 20px;
    background-color: #000000;
    letter-spacing: 2px;
    margin-top: 30px;

}

body {
    background-color: #000000;

}
.rootnav {

    background-color: none;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    color:rgb(53, 86, 101);
    margin-top: -300px;


}
.othernav {

    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-decoration: none;
    font-family: monospace;
    padding-left: 90px;
    color:rgb(53, 86, 101);

}
.resumenav {

    background-color: none;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.reportsnav {

    background-color: none;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color:rgb(53, 86, 101);
    margin-top: -154px;

}
.notepadsnav {

    background-color: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}
.pilotnav {
    background-color: none;
margin-left: 230px;
width: 300px;



}

.dl {
  margin-left: 100px;

  width: 100px;
  display: flex;
  flex-direction: column;
  background-color: #000000;

  color:rgb(53, 86, 101);
  border: none;

}

.dl:hover {
  color:rgb(155, 183, 196);

}
.root1 {


    padding-left: 65px;
    padding-top: 10vh;

    color: rgb(143, 156, 159);
    text-decoration: none;
    font-size: 14px;
    font-family: monospace;

}
.root2 {


    padding-left: 65px;
    padding-top: 3vh;

    color: rgb(143, 156, 159);
    text-decoration: none;
    font-size: 14px;
    font-family: monospace;
    position: static;
}

.root2:hover {
  color: rgb(252, 134, 246);
}
.root3 {


    padding-left: 65px;
    padding-top: 2vh;

    color: rgb(143, 156, 159);
    text-decoration: none;
    font-size: 14px;
    font-family: monospace;
    position: static;
}
li>:hover {

    color: rgb(181, 229, 248);
    border: 2px;
    font-size: 14px;


}

.cda {

    color:rgb(53, 86, 101);
    flex-direction: column;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 30px;
}

.reset {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -145px;
    color: white;
}


.reports {

    color:rgb(28, 44, 52);
    padding-top: 10px;
    text-decoration: none;
    margin-left: 200px;
    width: 300px;

}


.reportstitle {

    margin-left: -100px;
    width: 200px;
}
.pilot {

    color:rgb(28, 44, 52);
    padding-top: 10px;
    text-decoration: none;
    margin-left: 440px;
}

.adobebutton {

    padding-top: 10px;
    text-decoration: none;
    width: fit-content;

}
.notepad {

    color:rgb(28, 44, 52);

    margin-left: 170px;
    text-decoration: none;
}

.otherproject {
    background-color: none;
    color:rgb(53, 86, 101);
    display: flex;
    flex-direction: column;

    padding-top: 10px;;
    text-decoration: none;


}
div>p {

    padding: 12px;
    color: rgb(0, 255, 26);
    text-align: center;
    text-decoration: none;
    }
main {


    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: rgb(0, 0, 0);
}

body {
    color: white;
}
div {



    filter:invert(10);
    overflow:hidden;

}


.pdf {

    filter: contrast(1.0);

    border:none;
    align-self: flex-end;
    height: 100vh;
    width: 36vw;
    overflow: hidden;
    margin-right: -30px;
    scale: 100%;


}
.md {

    filter: contrast(200);
    border:none;
    align-self: flex-end;
    height: 100vh;
    width: 36vw;
    overflow: hidden;
    margin-right: -30px;
    scale: 100vh;



}

.x0 {

    filter: contrast(200);
    border:none;
    align-self: flex-end;
    height: 100vh;
    width: 36vw;
    overflow: hidden;
    margin-right: 90px;
    scale: 100vh;


}
.doorgif {

    width:7%;
    height:100%;
    scale: 150%;
    overflow: hidden;
    margin-top: -20px;
    margin-left: -40px;

}

.dllink {
    color: rgb(143, 156, 159);
    display: flex;
    flex: end;


    text-decoration: none;
}

.dllink:hover {
    color: rgb(181, 229, 248);

}

section {

    background-color: black;
    color: rgb(0, 76, 255);
    display: flex;
    font-family: monospace;
}
footer {

    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: monospace;
    text-decoration: none;
    height: 10px;
margin-left: 20px;
    position: absolute;


}
.activelink {
    color: rgb(181, 229, 248);


}

.tooltip:hover:after{
        content: attr(data-tooltip);
        color: rgb(181, 229, 248);

}
.hovertext:hover {
    color: rgb(181, 229, 248);

}

.adobebutton {
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    border-radius: 5px;
    border: 5px #ffffff;
    background-color:#000000;
    display: flex;
    flex-direction: column;
    text-decoration: none;

}

.adobebutton:hover {
    color: rgb(181, 229, 248);
}


.hidden {
    color: red;

}
.close1 {

color: white;
font-size: 30px;


}

.close2 {

width: 50vw;
flex-direction: flex-start;
border: #f21f10;



}

.viewresume {

    margin-left: 225px;
}

/*/////////////////////*/
/*       popup         */
/*/////////////////////*/

#popup {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    padding: 32px;
}

#popup.hidden {
    display: none;
}

#popup .close {
    font-size: 200px;
}

#popup pre {
    width: 50%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: scroll;
    margin-top: 12px;
}


/*/////////////////////*/
/*       tree          */
/*/////////////////////*/

.tree {
    position: relative;
    background: rgb(0, 0, 0);
    margin-top: 20px;
    padding: 30px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .tree span {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.4px;
    color: #a8a8a8;
  }
  .tree .fa-folder-open, .tree .fa-folder {
    color: #007bff;
  }
  .tree .fa-html5 {
    color: #f21f10;
  }
  .tree ul {
    padding-left: 5px;
    list-style: none;
  }
  .tree ul li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .tree ul li:last-child:after {
    height: 15px;
  }
  .tree ul a {
    cursor: pointer;
  }
  .tree ul a:hover {
    text-decoration: none;
  }

  .tree ul li button {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .tree ul li a:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #666;
    color: white;
  }
  .tree ul li a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #666;
    color: white;
  }
  .tree ul li button:last-child:after {
    height: 15px;
  }



.tree ul li a:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #b4b4b4;
    color: white;
  }
  .tree ul li a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #b4b4b4;
    color: white;
  }

/*/////////////////////*/
/*       tree2          */
/*/////////////////////*/

.tree {
    position: relative;
    background: rgb(0, 0, 0);
    margin-top: 20px;
    padding: 30px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .tree span {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.4px;
    color: #a8a8a8;
  }
  .tree .fa-folder-open, .tree .fa-folder {
    color: #007bff;
  }
  .tree .fa-html5 {
    color: #f21f10;
  }
  .tree ul {
    padding-left: 5px;
    list-style: none;
  }
  .tree ul a {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .tree ul a:last-child:after {
    height: 15px;
  }
  .tree ul a {
    cursor: pointer;
  }
  .tree ul a:hover {
    text-decoration: none;
  }

  .tree ul a button {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .tree ul a:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #666;
    color: white;
  }
  .tree ul a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #666;
    color: white;
  }
  .tree ul a button:last-child:after {
    height: 15px;
  }



.tree ul a:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #b4b4b4;
    color: white;
  }
  .tree ul a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #b4b4b4;
    color: white;
  }